* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

input {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    border: none;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
}

.calculator {
    width: 350px;
    background-color: blue;
    padding: 10px;
    height: fit-content;
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    padding: 20px 20px;
}

.keys {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 75px);
    gap: 10px 7px;
}

.keys button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 1.5rem;
}
button.operators {
    background-color: hsl(35, 100%, 55%);
    vertical-align: center;
    font-size: 2rem;
}

button.operator {
    background-color: hsl(35, 100%, 55%);
}

.keys button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (width <= 370px) {
    .calculator {
        width: 300px;
    }

    .keys button {
        height: 50px;
        width: 50px;
    }

    .keys {
        grid-template-columns: repeat(4, 63px);
    }
}